.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}
.navbar-nav .nav-link{
    padding-left: 20px;
}

.imagem_logo{
    border-radius: 50%;
}

#navbarColor01{
    margin-top:30px;
}

#logout{
    margin-top: 0px;
}

#conta{
    margin-top: -20px;
}