

.mostrasalas{
    color:rgb(79, 127, 155);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
    
    /* size:100px; */
    
}

.conteudo {
    /* border: 5px solid gray; */
    border-radius: 20px;
    margin-bottom: 1em !important;
    padding: 1em 1em;
    

  }
.texto{
    padding-top: 15%;
    font-size: 1.5em;
}


.imagem_salas{
    border-radius: 20px;
}
#calendariomain{
    margin-top: 20px;
    margin-left: 50px;
}

.event-tooltip {
    width:150px;
    background: rgba(0, 0, 0, 0.85);
    color:#FFF;
    padding:10px;
    position:absolute;
    z-index:10001;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;

}